In [1]:
import pandas as pd
from sklearn.linear_model import Ridge

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import pickle

player_df = pd.read_csv('../data/model_dataset/player_df_dummies.csv', index_col='unique_id')

In [2]:
player_df.columns

Index(['Unnamed: 0', 'full_name', 'minutes', 'goals_scored', 'assists', 'bps',
       'selected_by_percent', 'previous_start_value', 'delta_value',
       'target_value', 'position_DEF', 'position_FWD', 'position_GK',
       'position_MID', 'teams_arsenal', 'teams_astonvilla',
       'teams_bournemouth', 'teams_brentford', 'teams_brighton&hovealbion',
       'teams_burnley', 'teams_cardiffcity', 'teams_chelsea',
       'teams_crystalpalace', 'teams_everton', 'teams_fulham',
       'teams_huddersfieldtown', 'teams_leedsunited', 'teams_leicestercity',
       'teams_liverpool', 'teams_manchestercity', 'teams_manchesterunited',
       'teams_newcastleunited', 'teams_norwichcity', 'teams_nottinghamforest',
       'teams_sheffieldunited', 'teams_southampton', 'teams_stokecity',
       'teams_swanseacity', 'teams_tottenhamhotspur', 'teams_watford',
       'teams_westbromwichalbion', 'teams_westhamunited',
       'teams_wolverhamptonwanderers'],
      dtype='object')

In [3]:
player_df.drop(columns=['target_value', 'Unnamed: 0']).head()

,full_name,minutes,goals_scored,assists,bps,selected_by_percent,previous_start_value,delta_value,position_DEF,position_FWD,...,teams_nottinghamforest,teams_sheffieldunited,teams_southampton,teams_stokecity,teams_swanseacity,teams_tottenhamhotspur,teams_watford,teams_westbromwichalbion,teams_westhamunited,teams_wolverhamptonwanderers
unique_id,,,,,,,,,,,,,,,,,,,,,
7-2017-18,héctorbellerín,3050.0,2.0,4.0,656.0,10.3,60.0,-1.0,1,0,...,0,0,0,0,0,0,0,0,0,0
11-2017-18,robholding,819.0,0.0,1.0,196.0,0.7,50.0,-6.0,1,0,...,0,0,0,0,0,0,0,0,0,0
16-2017-18,mesutözil,2161.0,4.0,9.0,506.0,2.1,95.0,-2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
18-2017-18,aaronramsey,1844.0,7.0,10.0,503.0,4.5,70.0,-2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
21-2017-18,alexiwobi,1827.0,3.0,5.0,426.0,1.0,55.0,-4.0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Assuming player_df has the features and target column you want to use for training
# Replace 'target_column' with the name of your target column
features = player_df.drop(columns=['target_value', 'Unnamed: 0', 'full_name', 'bps', 'selected_by_percent'])
target = player_df['target_value']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

# Initialize the Linear regression model
model = Ridge(random_state=42)

# Fit the model to the training data
model.fit(X_train, y_train)  # You can adjust the verbose level to see more/less output during training

# Make predictions on the test data
y_pred = model.predict(X_test)

# Calculate the mean squared error to evaluate the model's performance
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

# Now, you can use the trained model (model) to make predictions on new data
# For example:
# new_data = pd.DataFrame(...)  # Create a new DataFrame with features for prediction
# predictions = model.predict(new_data)

Mean Squared Error: 31.537276532292687

In [5]:
y_pred

array([ 55.81313882,  54.88669727,  46.45569328,  51.12739213,
        49.54869153,  59.20744574,  55.85990217,  79.29034884,
        54.97113594,  72.7564289 ,  55.6423574 ,  61.48718359,
        45.76213359,  52.12845963,  46.81403202,  55.5701733 ,
        51.54026408,  79.89367477,  61.88020231,  57.67729792,
        46.07618438,  47.87619448,  47.31346112,  45.5553993 ,
        65.73187386,  51.1913756 ,  50.82757078,  42.33969871,
        45.85179245,  49.41713806,  41.71736306,  52.1997047 ,
        49.35157559,  60.20855894,  46.52363593,  72.33608031,
        55.8973734 ,  66.35818246,  45.8826359 ,  44.10287644,
        55.99005853,  44.42401947,  49.83437666,  52.44227534,
        59.82051108,  65.46759495,  49.79346619,  61.08501681,
        56.09470599,  49.661969  ,  49.3435878 ,  51.51883998,
        49.94174728,  51.30538687,  50.81063323,  49.51972463,
        46.15386461,  52.3580216 ,  52.22036513,  59.06514753,
        58.84854325,  67.76909658,  54.8618919 , 112.3025353 ,
        48.85426796,  58.2835948 ,  59.58923552,  49.23542927,
        44.66758934,  59.70487687,  56.37206629,  48.43666104,
        56.25658587,  55.32513527,  46.01872099,  59.08711131,
        90.73471751,  60.02765024,  50.83468464,  44.33058861,
        54.886608  ,  48.42953803,  56.76538979,  45.61008048,
        51.03169181,  45.58312706,  56.7465105 ,  44.9167064 ,
        53.88409699,  51.32375791,  58.32433385,  56.69787212,
        67.29428894,  67.28463391,  64.95336402,  50.66003792,
        51.5802775 ,  46.03509652,  44.77244797,  46.68656925,
        51.53308014,  52.86080787,  64.38272946,  44.70448828,
        60.41470673,  79.14733518,  55.63641781,  57.61395255,
        63.44709273,  48.05312101,  52.57041282,  51.01295666,
        61.15094811,  56.86799323,  49.00210644,  46.03911922,
        50.54366544,  92.15754441,  50.12405671,  47.15236469,
        79.6034103 ,  55.27660327,  54.97494141,  40.98376119,
        51.01461674,  44.23928726,  65.00030419,  44.97929203,
        56.45496288,  44.40526436,  55.89931734,  66.69457982,
        52.45705955,  47.73968447,  54.60044978,  44.59143869,
        41.91040768,  73.45669735,  47.80529107,  52.09171581,
        66.06381308,  45.53419241,  54.02186281,  85.40614321,
        46.26956199,  47.21251033,  55.91549613,  51.89055973,
        51.00086624,  47.01362776,  47.3339838 ,  48.33642222,
        54.90853729,  56.68211411,  50.03638349,  46.61158483,
        51.03645307,  48.25420612,  60.64681602,  55.99025559,
        38.53028757,  51.33138034,  38.96696787,  43.16471442,
        74.28799626,  51.39007998,  64.50020039,  62.64242054,
        44.03957603,  43.8987958 ,  52.1412702 , 116.31231627,
        57.97595881,  57.49116527,  52.25294917,  45.02622561,
        54.70066737,  52.27173816,  71.88077878,  62.11049344,
        42.60152393,  44.62502018,  79.86148855,  56.17617629,
        51.9505105 ,  49.78929104,  61.39076317,  60.65072754,
        71.93145171,  45.96556481,  54.29383741, 119.08470801,
        57.47767666,  46.3792807 ,  49.48515757,  81.0662294 ,
        45.07496711,  47.01995209,  46.98780805,  91.068921  ,
        47.10042195,  41.28455234,  46.5678358 ,  73.72612311,
        57.94377061,  96.13724185,  45.74336787,  54.3535404 ,
        53.2128752 ,  54.82833518,  42.93405597,  52.78195021,
        81.72772622,  66.94222411,  51.82160206,  46.03842779,
        59.56947812,  55.46909192,  57.87267413,  49.95866369,
        56.05512039,  46.37244587,  42.72684107,  50.0865726 ,
        45.39678956,  55.54014951,  45.75636765,  56.73622121,
        51.47441398,  50.51567013,  49.83276567,  45.75532079,
        48.28899648,  66.39137046,  55.5701733 ,  46.74482991,
        46.84144205,  62.4788125 ,  42.47432109,  45.22857126,
        46.05502379,  53.48061819,  42.0414391 ,  53.30432218,
        56.28543621,  50.68727868,  73.81119258,  45.90940158,
        57.38633773,  49.56010429,  52.84442158,  52.08107067,
        43.22308614,  46.06592354,  53.60892728,  56.01216046,
        84.24063325,  46.61485943,  45.94369457,  64.4858484 ,
        44.3173008 ,  68.49090653,  44.09363929,  45.06566248,
        45.34850564,  55.69551617,  47.43425202,  60.01122231,
        65.03596215,  54.04311413,  64.20940698,  55.14390971,
        45.71156558,  51.55328773,  47.77618851,  47.95371956,
        44.99882191,  55.56028716,  46.76449325,  46.41268798,
        46.48666131,  59.60704379,  82.26797175])

In [6]:
y_test

unique_id
346-2020-21    50.0
60-2021-22     50.0
323-2018-19    45.0
40-2018-19     55.0
58-2018-19     50.0
               ...
416-2022-23    45.0
473-2022-23    50.0
31-2018-19     50.0
284-2018-19    55.0
141-2021-22    85.0
Name: target_value, Length: 283, dtype: float64

In [7]:
y_pred_train = model.predict(X_train)

# Calculate the mean squared error to evaluate the model's performance
mse = mean_squared_error(y_train, y_pred_train)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 26.589566474532106

In [8]:
print(y_test)

unique_id
346-2020-21    50.0
60-2021-22     50.0
323-2018-19    45.0
40-2018-19     55.0
58-2018-19     50.0
               ...
416-2022-23    45.0
473-2022-23    50.0
31-2018-19     50.0
284-2018-19    55.0
141-2021-22    85.0
Name: target_value, Length: 283, dtype: float64

In [9]:
with open('../models/ridge_v0.0.1.pkl', 'wb') as file:
    pickle.dump(model, file)

In [10]:
# Load the saved model from the pickle file
with open('../models/ridge_v0.0.1.pkl', 'rb') as file:
    loaded_model = pickle.load(file)